body {
  padding: 50px;
  background-color: #68609e;
  font-family: sans-serif;
  overflow: hidden;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task:hover {
  cursor: pointer;
}
